.footer-container {
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #0A142F;
  color: white;

  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;

  height: 15vh;
}
